* {
  margin: 0;
  padding: 0;
}

.body {
  background-color: #efefef;
}

.past1,
.past2,
.past3,
.present1,
.present2,
.present3,
.future1,
.future2,
.future3 {
  width: 150px;
  height: 150px;
}

.header {
  width: 900px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.head {
  display: inline;
  font-family: "Dancing Script", cursive;
}

.dot {
  margin-right: 60px;
}

.past {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.present {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.future {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.footer {
  width: 420px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.like,
.write {
  margin-right: 5px;
}

.like_comment {
  font-size: small;
}

.footer2 {
  width: 580px;
  display: flex;
  justify-content: center;
}

.comment {
  font-size: small;
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 185px;
}
