* {
  margin: 0;
  padding: 0;
}

.header {
  width: 900px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.head {
  display: inline;
  font-family: "Dancing Script", cursive;
}

.dot {
  margin-right: 60px;
}

.past {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.present {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.future {
  display: flex;
  justify-content: center;
  margin: 5px;
}
